.DS_Store
Thumbs.db

## IDEs
# PHPStorm
/.idea/
# Sublime
*.sublime-workspace

## Package Managers
/vendor/
/node_modules/
/dev/assets/vendor/
/lib/

composer.phar

## Project structure folders
# tmp storage
/.cache/

# Logs
/log/
*.log

# Deploy
/www/

# Let's keep some folders so people get into it without a full setup
!.gitkeep